
body{	
	background-color:black;

}
#main{

}
#logo{
	
}
#links{

	background-image:url("login/links_bg.png");
	width: 1500px;
	height:107px;
	background-repeat: no-repeat;
}
#rate{
	background-image:url("login/rate.png");
	background-repeat: no-repeat;
	width:100%;
	height:100px;
	margin-top: 50px;
	margin-left:150px;
}
#love{
	background-image:url("login/love.png");
	background-repeat: no-repeat;
	width:307px;
	height:104px;
	margin-top: 0px;
	margin-left:400px;
}
#login{
	margin-left:200px;
}
#signup{
	margin-left:500px;
	
}
a img{
	border:0px;
}
h2{
	color: white;
	margin-left:300px;
	
}
h1{ 
	color: white;
}
	